@import "tailwindcss";

@theme {
  --color-0C122C: #0c122c;
  --color-DBD9FF: #dbd9ff;
  --color-1E2D69: #1e2d69;

  --font-Raleway: "Raleway", "serif";
  --breakpoint-1440p: 90rem;
}

@layer components {
  .dropShadow {
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24);
  }

  .linearGradient {
    background: linear-gradient(to right, #ffa197, #ff4a95);
  }

  .downArrow {
    width: 0;
    height: 0;
    border-left: 22.68px solid transparent;
    border-top: 22.68px solid #fff;
  }
}

body {
  background-image: url("./assets/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1024px) {
  body {
    background-image: url("./assets/bg-desktop.png");
    background-position: top left;
  }
}
